<!-- <p>book-ticket works!</p> -->
<div class="mainData">
    <p *ngIf="alert ?? null != null" class="alertPopUp">
        <ngb-alert [type]="alert?.type ?? ''" (closed)="closeAlert()">{{ alert?.message ?? '' }}</ngb-alert>
    </p>
    <!-- <div class="filtersDiv">
        <span class="searchSpan">
            <input #searchText class="searchText" placeholder="enter text to search" [(value)]="searchText"/>
            <button (click)="SearchFilter">Search</button>
        </span>
        <span></span>
    </div> -->
    <div class="actionDiv">
        <div class="actionTableDiv">
            <table class="actionTable">
                <tr>
                    <td>
                        <div class= "fieldLabel" >From :</div>
                        <input type="text" field placeholder="please enter 'from' loc"  class="field"
                        #from name="from" />
                    </td>
                    <td>
                        <div class= "fieldLabel" >To :&nbsp;&nbsp;&nbsp;</div>
                        <input type="text" placeholder="please enter 'to' loc " class="field"
                         #to name="to" /> 
                    </td>
                    <td>
                        <div class= "fieldLabel" >Departure Date : :</div>
                        <input type="date" class="field" 
                        #departureDate name="departureDate" />
                    </td>
                </tr>
            </table>
        </div>
        <button class="addActionButton" 
        (click)="getAvailableAirlineSearch(from.value, to.value, departureDate.value)">
            Search
        </button>
    </div>
    <div class="dataDiv">
        <div class="tableTitleDiv">
            <table class="dataTable">
                <thead>
                    <tr>
                        <th class="nameCell">From</th>
                        <th class="nameCell">To</th>
                        <th class="nameCell">Airline Name</th>
                        <th class="dateCell">Departure Date</th>
                        <th class="dateCell">Arrival Date</th>
                        <th class="countCell">BC Seats remaining</th>
                        <th class="countCell"> NBC Seats remaining</th>
                        <th class="discountCell">Discounts</th>
                        <th class="actionCell"> </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tableBodyDiv">
            <!-- table table-striped -->
            <table class="dataTable">
                <tbody>
                    <tr *ngFor="let airline of airlinesSearchResponse">
                        <td class="nameCell">{{airline?.AirlineSchedules?.From ?? ''}}</td>
                        <td class="nameCell">{{airline?.AirlineSchedules?.To ?? ''}}</td>
                        
                        <td class="nameCell">{{airline?.AirlineSchedules?.Airline?.Name ?? ''}}</td>
                        <td title="{{(airline?.ActualDepartureDate ?? '') | date : 'MMM d, y, h:mm:ss a'}}"
                        class="dateCell">{{(airline?.ActualDepartureDate ?? '') | date : 'MMM d, y, h:mm:ss a'}}</td>
                        <td title="{{(airline?.ActualArrivalDate ?? '') | date : 'MMM d, y, h:mm:ss a'}}"
                        class="dateCell">{{(airline?.ActualArrivalDate ?? '') | date : 'MMM d, y, h:mm:ss a'}}</td>
                        <td class="countCell">{{airline?.BCSeatsAvailable ?? ''}}</td>
                        <td class="countCell">{{airline?.NBCSeatsAvailable ?? ''}}</td>
                        <td class="discountCell">
                            <select #discount name="discount" class="field"
                            style="z-index: 5;">
                                <option *ngFor="let disc of (airline?.DiscountTags)"
                                [value]="disc.Id">
                                    {{disc.Name}}
                                </option>
                            </select>
                        </td>
                        <td class="actionCell"><button title="click to update airlines" class="actionButton" 
                            (click)="bookTicket(airline?.AirlineSchedules?.Id, airline?.ActualDepartureDate, discount.value )">Book Ticket</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
