<!-- <p>book-ticket works!</p> -->
<div class="mainData">
    <p *ngIf="alert ?? null != null" class="alertPopUp">
        <ngb-alert [type]="alert?.type ?? ''" (closed)="closeAlert()">{{ alert?.message ?? '' }}</ngb-alert>
    </p>
    <!-- <div class="filtersDiv">
        <span class="searchSpan">
            <input #searchText class="searchText" placeholder="enter text to search" [(value)]="searchText"/>
            <button (click)="SearchFilter">Search</button>
        </span>
        <span></span>
    </div> -->
    <div class="actionDiv">
        From: <input type="text" placeholder="please enter from "  #from name="from" />
        To : <input type="text" placeholder="please enter from "  #to name="to" /> 
        Departure Date : <input type="date" placeholder="please enter from " #departureDate name="departureDate" />
        <button class="addActionButton" (click)="getAvailableAirlineSearch(from.value, to.value, departureDate.value)">Search</button></div>
    <div class="dataDiv">
        <div class="tableTitleDiv">
            <table class="dataTable">
                <thead>
                    <tr>
                        <th class="nameCell">From</th>
                        <th class="nameCell">To</th>
                        <th class="nameCell">Airline Name</th>
                        <th class="codeCell">Departure Date</th>
                        <th class="codeCell">Arrival Date</th>
                        <th class="nameCell">BC Seats remaining</th>
                        <th class="nameCell"> NBC Seats remaining</th>
                        <th class="countCell">Discounts</th>
                        <th class="actionCell"> </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tableBodyDiv">
            <!-- table table-striped -->
            <table class="dataTable">
                <tbody>
                    <tr *ngFor="let airline of airlinesSearchResponse">
                        <td class="nameCell">{{airline?.AirlineSchedules?.From ?? ''}}</td>
                        <td class="nameCell">{{airline?.AirlineSchedules?.To ?? ''}}</td>
                        
                        <td class="nameCell">{{airline?.AirlineSchedules?.Airline?.Name ?? ''}}</td>
                        <td class="codeCell">{{airline?.ActualDepartureDate ?? ''}}</td>
                        <td class="codeCell">{{airline?.ActualArrivalDate ?? ''}}</td>
                        <td class="nameCell">{{airline?.BCSeatsAvailable ?? ''}}</td>
                        <td class="nameCell">{{airline?.NBCSeatsAvailable ?? ''}}</td>
                        <td class="detailsCell">
                            <select #discount name="discount" style="z-index: 5;">
                                <option *ngFor="let disc of (airline?.DiscountTags)"
                                [value]="disc.Id">
                                    {{disc.Name}}
                                </option>
                            </select>
                        </td>
                        <td class="actionCell"><button title="click to update airlines" class="actionButton" 
                            (click)="bookTicket(airline?.AirlineSchedules?.Id, airline?.ActualDepartureDate, discount.value )">Book Ticket</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
