<div class="homePage">
    <div class="header">
        <div class="appName"><h3>'Fly me' airlines</h3></div>
        <div class="userAccount">
            <span class="welcomeSpan"><h3>Welcome {{userDetails.FirstName}}</h3></span>
            <button class="logOut" (click)="logout()">Logout</button>
        </div>
    </div>
    <div class="mainPanel">
        <div class="navigationPanel">
            <ng-template [ngIf]="(userDetails?.IsSuperAdmin ?? false) == true">
                <div class="navItem" 
                [ngClass]="{'selectedNavTab' : (selectedTab.toLowerCase() === 'administration'.toLowerCase())}"
                (click)="loadMainTab('Administration')">Administration</div>
            </ng-template>
            <div class="navItem"
            [ngClass]="{'selectedNavTab' : (selectedTab.toLowerCase() === 'Bookings'.toLowerCase())}" 
            (click)="loadMainTab('Bookings')">Bookings</div>
        </div>
        <div class="dataPanel">
            <div class="tabsControl">
                <span *ngIf = "selectedTab.toLowerCase() === 'administration'.toLowerCase();then administrationSubTabs else bookingsSubTabs"></span>
                <ng-template #administrationSubTabs>
                    <span class="subTabItems" tabName="Airlines"
                    [ngClass]="{'selectedSubTab' : ((selectedTab.toLowerCase() === 'administration'.toLowerCase()) && (selectedSubTab.toLowerCase() === 'Airlines'.toLowerCase()))}"
                    (click)="loadSubTab('Airlines')">Airlines</span>
                    <span class="subTabItems" tabName="Discounts" 
                    [ngClass]="{'selectedSubTab' : ((selectedTab.toLowerCase() === 'administration'.toLowerCase()) && (selectedSubTab.toLowerCase() === 'Discounts'.toLowerCase()))}"
                    (click)="loadSubTab('Discounts')">Discounts</span>
                    <span class="subTabItems" tabName="Schedules" 
                    [ngClass]="{'selectedSubTab' : ((selectedTab.toLowerCase() === 'administration'.toLowerCase()) && (selectedSubTab.toLowerCase() === 'Schedules'.toLowerCase()))}"
                    (click)="loadSubTab('Schedules')">Schedules</span>
                </ng-template>
                <ng-template #bookingsSubTabs>
                    <span class="subTabItems" tabName="BookingHistory"
                    [ngClass]="{'selectedSubTab' : ((selectedTab.toLowerCase() === 'Bookings'.toLowerCase()) && (selectedSubTab.toLowerCase() === 'BookingHistory'.toLowerCase()))}"
                    (click)="loadSubTab('BookingHistory')">Booking History</span>
                    <span class="subTabItems" tabName="BookTicket"
                    [ngClass]="{'selectedSubTab' : ((selectedTab.toLowerCase() === 'Bookings'.toLowerCase()) && (selectedSubTab.toLowerCase() === 'BookTicket'.toLowerCase()))}"
                    (click)="loadSubTab('BookTicket')">Plan For Trip</span>
                </ng-template>
            </div>
            <div class="dataGrid">
                <ng-template appComponentLoader></ng-template>
            </div>
        </div>
    </div>
    <div class="footer">
        About site : Not the best one there
    </div>
</div>
